@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.hidden {
  display: none;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/Wallpaper.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center, center;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
}

.banner-text p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: 20px;
}

.banner-btn a {
  border: 1px solid #fff;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 50px;
  display: inline-block;
  margin-top: 15px;
  color: #fff;
  text-shadow: 2px -2px rgb(58, 129, 156);
}

.banner-btn a:hover {
  background: #fed136;
  border-color: #fed136;
  color: #000;
  transition: 0.1s ease;
}

/* text animation */
.text-area {
  font-size: 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.text-area span {
  color: #fed136;
  opacity: 0;
  transform: translate(0, -100px) rotate(360deg) scale(0);
  animation: animate 5s forwards;
  text-shadow: 1px 1px #7a7878;
}
.banner-text p {
  animation: animate1 10s backwards;
}

.text-area span {
  display: inline-block;
}

.text-area span:nth-of-type(2) {
  animation-delay: 0.1s;
}
.text-area span:nth-of-type(3) {
  animation-delay: 0.2s;
}
.text-area span:nth-of-type(4) {
  animation-delay: 0.3s;
}
.text-area span:nth-of-type(5) {
  animation-delay: 0.4s;
}
.text-area span:nth-of-type(6) {
  animation-delay: 0.5s;
}
.text-area span:nth-of-type(7) {
  animation-delay: 0.6s;
}
.text-area span:nth-of-type(8) {
  animation-delay: 0.7s;
}
.text-area span:nth-of-type(9) {
  animation-delay: 0.8s;
}
/* animation for letters */
@keyframes animate {
  30% {
    transform: translate(0, -50px) rotate(180deg) scale(1);
  }

  60% {
    transform: translate(0px, 20px) rotate(0deg) scale(0.8);
  }

  /* 80% {
    transform: matrix(1, 2, 3, 4, 5, 6);
    opacity: 1;
  } */

  100% {
    transform: translate(0) rotate(0deg) scale(1);
    opacity: 1;
  }
}

/* animation for EE and btn */

@keyframes animate1 {
  0% {
    transform: translate(0, 200px) scale(1);
    opacity: 0;
  }

  30% {
    transform: translate(0) scale(1);
    opacity: 0.7;
  }
}

/* responsive */
@media (max-width: 375px) {
  .banner-text p {
    display: inline-flex;
  }
  .navbar-dark {
    background-color: #333;
  }
  .font-area {
    font-size: 35px;
  }
  .navbar {
    padding-left: 10px;
    padding-right: 0;
  }
  .banner-btn a {
    padding: 5px 30px;
    margin-top: 5px;
    border-radius: 50px;
    white-space: nowrap;
  }
}

/* cards */

.cardTitle {
  margin-top: auto;
  margin: 60px auto;
  text-align: center;
}

.text {
  text-shadow: #000;
}

.postcard {
  width: 85%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
  margin-top: 30px;
}

.cards {
  background-color: #fff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.418);
}

.image-section {
  height: 255px;
  background-color: rgb(124, 123, 123);
}

.content {
  padding: 15px 10px;
  text-align: center;
}

.content h2 {
  letter-spacing: 1.5px;
}

.content h3 {
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content p {
  margin: 15px 0px;
  font-size: 15px;
}

.content a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
  letter-spacing: 1.5px;
  display: inline-block;
  background-color: #66c20a;
  padding: 8px 15px;
  box-shadow: #000 2px 2px;
}

.content a:hover {
  background-color: #000;
  transition: 1s ease;
}

/* individual cards */

/* Technical Projects  */
.TechPro .cards .img-one {
  background-image: url(./images/SleepingQuarter.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.TechPro .cards .img-two {
  background-image: url(./images/MarbleSorter.JPG);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.TechPro .cards .img-three {
  background-image: url(./images/flappybird2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.TechPro .cards .img-four {
  background-image: url(./images/LightningBob.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Digital Electronics */
.DE .cards .img-one {
  background-image: url(./images/Rng.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-two {
  background-image: url(./images/Fireplace.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-three {
  background-image: url(./images/Vote.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-four {
  background-image: url(./images/60.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-five {
  background-image: url(./images/7seg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-six {
  background-image: url(./images/tollbooth1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-seven {
  background-image: url(./images/tollbooth.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.DE .cards .img-eight {
  background-image: url(./images/serve.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Principles of Engineering */
.POE .cards .img-one {
  background-image: url(./images/Hydro.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.POE .cards .img-two {
  background-image: url(./images/Gears.png);
  background-size: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

.POE .cards .img-three {
  background-image: url(./images/Renewable.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Introduction to Engineering Design */

.IED .cards .img-one {
  background-image: url(./images/Train.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.IED .cards .img-two {
  background-image: url(./images/Flashlight.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.IED .cards .img-three {
  background-image: url(./images/Button\ Maker.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.IED .cards .img-four {
  background-image: url(./images/SleepingQuarter.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* tableofcontents */

.allcontent {
  text-align: center;
  margin-top: 100px;
  width: 350px;
  margin: 100px auto;
}

.listOfItems {
  background-color: rgb(212, 185, 185);
}
.tableOfContentButton {
  background-image: linear-gradient(#fed136, #fed136);
  border-radius: 3px solid black;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 10px;
  box-shadow: #000 2px 2px;
  border-radius: 10px;
  color: #000;
}

.tableOfContentButton:hover {
  background: #000;
  box-shadow: #000000 2px -2px;
  color: white;
  transition: 0.1s ease;
}

/* about me */
.card {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  background: #005e9b;
  color: white;
  text-align: center;
  padding: 2em;
  margin: 100px auto;
}

.cardcustom {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 80%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-content: center;
  background: #005e9b;
  color: white;
  text-align: center;
  align-items: center;
  padding: 2em;
  margin: 100px auto;
}

.cardcustom .profile-name {
  text-align: center;
}

.profile-name {
  margin-top: 10px;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.profile-name::after {
  content: "";
  display: block;
  height: 1px;
  width: 2em;
  background: #5bcbf0;
  margin: 0.7em auto 0.5em;
  opacity: 0.35;
}

.profile-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  color: #5bcbf0;
  margin-bottom: 2em;
}

.profile-body {
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
}

.profile-image {
  border-radius: 10%;
  border: 4px solid white;
  max-width: 225px;
  text-align: center;
  margin: auto;
}

.profile-img {
  max-width: 300px;
  text-align: center;
  padding-bottom: 30px;
}

.profile-custom {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.certificate {
  max-width: 675px;
  box-shadow: 0 0 15px rgb(255, 255, 255);
}

.resume-btn {
  background-image: linear-gradient(#5bcbf0, #5bcbf0ca);
  border-radius: 3px solid black;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  text-decoration: none;
  margin-top: 10px;
  box-shadow: #000 2px 2px;
  border-radius: 10px;
  color: #000;
  max-width: 100px;
}

.resume-btn:hover {
  background: #000;
  box-shadow: #000000 2px -2px;
  color: white;
  transition: 0.1s ease;
}

@media (min-width: 875px) {
  .card {
    flex-direction: row;
  }

  .profile-main {
    text-align: left;
    margin-left: 2em;
  }
  .profile-name::after {
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .profile-img {
    max-width: 200px;
  }

  .certificate {
    max-width: 300px;
  }
  .profile-custom {
    max-width: 200px;
  }
}

@media (max-width: 1850px) {
  .cardcustom {
    flex-direction: column;
  }
}

@media (max-width: 860px) {
  .certificate {
    max-width: 500px;
  }
}

@media (max-width: 640px) {
  .certificate {
    max-width: 300px;
  }
  .profile-custom {
    max-width: 300px;
  }
}

/* contact form */
