body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: show; /*sliding bar thing */
}

/* this bit controls img */
.container {
  position: relative;
  margin-top: 0px;
}
.container img {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.headerIntro {
  width: 100%;
  position: fixed;
  margin-top: -40%;
}

.headerIntro h1 {
  margin-top: -2%;
  text-align: center;
  font-size: 7vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  text-shadow: 5px 5px rgb(233, 180, 57);
}

.headerIntro h3 {
  margin-top: -5%;
  text-align: center;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  color: rgb(5, 5, 5);
  text-decoration: underline #04142d;
  text-shadow: 2px 2px rgb(185, 168, 168);
}

/* navigation border */
nav {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Oswald", sans-serif;
  height: 100px;
  background-color: #04142df1;
  padding: 0 5%;
}

/* this is the name part */
nav .name {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fce17f;
}
/*logo settings */
nav img {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 20%;
  content: "";
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

nav .link li {
  list-style: none;
}

nav .links a {
  display: inline;
  padding: 0.8em;
  font-size: 20px;
  font-weight: bold;
  color: #fce17f;
  background-color: #2aa7ba00;
  text-decoration: none;
}

/* Line */
h2 {
  width: 100%;
  text-align: center;
  border-bottom: 5px solid white;
  line-height: 0.1em;
  margin: 98px 0 30px;
}

h2 span {
  background: #fff;
  padding: 0 10px;
  white-space: nowrap; /* so the text doesn't overlap*/
}

.links2 {
  padding: 0;
  margin: auto;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.links2 li {
  list-style: none;
}

.links2 a {
  display: inline;
  padding: 0.8em;
  font-size: 20px;
  font-weight: bold;
  color: #fdfdfd;
  background-color: #04142dd8;
  text-decoration: none;
  border-radius: 25px;
}
